@page "/AlbaranManagement"

@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Spinner

@inject IAlbaranService AlbaranManagementService

<h3>AlbaranManagement</h3>

<div>
    <SfGrid DataSource="albaranData" AllowPaging="true" AllowSorting="true" AllowFiltering="true" AllowGrouping="true" Toolbar="@toolbar">
        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
        <GridPageSettings PageSize="5"></GridPageSettings>
        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
        <GridColumns>
            <GridColumn IsPrimaryKey="true" Field="@nameof(AlbaranModel.AlbaranId)"></GridColumn>
            <GridColumn Field="@nameof(AlbaranModel.PedidoAlbaran)"></GridColumn>
            <GridColumn Field="@nameof(AlbaranModel.FechaEntrega)" Format="d"></GridColumn>
        </GridColumns>
        <SfSpinner @bind-Visible="@VisibleSpinner"></SfSpinner>
    </SfGrid>
</div>


@code {
    private List<AlbaranModel>? albaranData = null;
    private List<object> toolbar = new List<object> { "Add", "Update", "Cancel", "Search" };
        private bool VisibleSpinner { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        VisibleSpinner = true;
        albaranData = await AlbaranManagementService.GetAlbaranes();
        VisibleSpinner = false;
    }

}
