@page "/ClienteManagement"

@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Grids
@using TFG2022Server.Models
@using TFG2022Server.Services
@using TFG2022Server.Services.Contracts
@using TFG2022Server.Entities

@inject IClienteManagementService ClienteManagementService

<h3>Clientes</h3>

<div>
    <SfGrid DataSource="ClienteData" AllowPaging="true" AllowSorting="true" AllowFiltering="true" AllowGrouping="true" Toolbar="@toolbar">
        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
        <GridPageSettings PageSize="5"></GridPageSettings>
        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
        <GridColumns>
            <GridColumn IsPrimaryKey="true" Field="@nameof(ClienteModel.ClienteId)"></GridColumn>
            <GridColumn Field="@nameof(ClienteModel.Direccion)"></GridColumn>
            <GridColumn Field="@nameof(ClienteModel.Poblacion)"></GridColumn>
            <GridColumn Field="@nameof(ClienteModel.CodigoPostal)"></GridColumn>
            <GridColumn Field="@nameof(ClienteModel.Descuento)"></GridColumn>
            <GridColumn Field="@nameof(ClienteModel.UsuarioIdCliente)"></GridColumn>
     
           @*<GridForeignColumn Field=@nameof(ClienteModel.UsuarioIdCliente) HeaderText="Usuario" ForeignKeyValue="UsuarioId" ValidationRules="@(new ValidationRules{ Required=true})" ForeignDataSource="@ClienteUsuarioData" Width="150"></GridForeignColumn>
             
            <GridForeignColumn HeaderText="UsuarioId" TValue="Usuario"
                               Field="@nameof(ClienteModel.UsuarioIdCliente)"
                               ForeignDataSource="ClienteUsuarioData"
                               ForeignKeyValue="Nombre">
                <EditTemplate>
                    <SfDropDownList @bind-value="@((context as ClienteModel).UsuarioIdCliente)"
                                    ID="UsuarioIdCliente" DataSource="ClienteUsuarioData" TItem="Usuario"
                                    TValue="int">
                        <DropDownListFieldSettings Text="Nombre" Value="UsuarioIdCliente">
                        </DropDownListFieldSettings>
                    </SfDropDownList>
                </EditTemplate>
            </GridForeignColumn>
*@
        </GridColumns>
    </SfGrid>
</div>


@code {
    private List<ClienteModel>? ClienteData = null;
    private List<Usuario>? ClienteUsuarioData;
    private List<object> toolbar = new List<object> { "Add", "Update", "Cancel", "Search" };

    protected override async Task OnInitializedAsync()
    {
        ClienteData = await ClienteManagementService.GetClientes();
        ClienteUsuarioData = await ClienteManagementService.GetUsuarios();
    }

}
