@page "/ProductoManagement"

@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Spinner

@inject IProductoManagementService ProductoManagementService

<h3>ProductoManagement</h3>

<div>
    <SfGrid DataSource="productoData" AllowPaging="true" AllowSorting="true" AllowFiltering="true" AllowGrouping="true" Toolbar="@toolbar">
        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
        <GridPageSettings PageSize="5"></GridPageSettings>
        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
        <GridColumns>
            <GridColumn IsPrimaryKey="true" Field="@nameof(ProductoModel.ProductoId)"></GridColumn>
            <GridColumn Field="@nameof(ProductoModel.FamiliaProductoProducto)"></GridColumn>
            <GridColumn Field="@nameof(ProductoModel.ProveedorProducto)"></GridColumn>
            <GridColumn Field="@nameof(ProductoModel.Nombre)"></GridColumn>
            <GridColumn Field="@nameof(ProductoModel.Descripcion)"></GridColumn>
            <GridColumn Field="@nameof(ProductoModel.Cantidad)"></GridColumn>
            <GridColumn Field="@nameof(ProductoModel.Precio)"></GridColumn>
            <GridColumn Field="@nameof(ProductoModel.UrlImagen)"></GridColumn>
        </GridColumns>
        <SfSpinner @bind-Visible="@VisibleSpinner"></SfSpinner>
    </SfGrid>
</div>


@code {
    private List<ProductoModel>? productoData = null;
    private List<object> toolbar = new List<object> { "Add", "Update", "Cancel", "Search" };
    private bool VisibleSpinner { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        VisibleSpinner = true;
        productoData = await ProductoManagementService.GetProductos();
        VisibleSpinner = false;
    }

}
