@page "/admin/Proveedores"

@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Spinner
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using TFG2022Server.Models
@using TFG2022Server.Services
@using TFG2022Server.Services.Contracts

@inject ProtectedLocalStorage LocalStorage
@inject IUsuarioService UsuarioService
@inject NavigationManager NavigationManager
@inject IProveedorService ProveedorService

@if (@storedUser != null && @storedUser.Rol == UsuarioService.GetRoles().First())
{
    NavigationManager.NavigateTo("/");
}
else if (@storedUser != null)
{
    <h3>Listado de Familias de Productos</h3>

    <div>
        <SfGrid @ref="SfProveedorGrid" DataSource="ProveedorData" AllowPaging="true" AllowSorting="true" AllowFiltering="true" AllowGrouping="true" Toolbar="@toolbar" AllowResizing="true">
            <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
            <GridEvents OnActionBegin="ActionBeginHandler" OnActionComplete="ActionCompleteHandler" TValue="ProveedorModel"></GridEvents>
            <GridPageSettings PageSize="20"></GridPageSettings>
            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
            <GridColumns>
                <GridColumn IsPrimaryKey="true" Field="@nameof(ProveedorModel.ProveedorId)" HeaderText="ID" AllowAdding="false" AllowEditing="false"></GridColumn>
                <GridColumn Field="@nameof(ProveedorModel.Nombre)"></GridColumn>
                <GridColumn Field="@nameof(ProveedorModel.Descripcion)" HeaderText="Descripción"></GridColumn>
                <GridColumn Field="@nameof(ProveedorModel.Direccion)" HeaderText="Dirección"></GridColumn>
                <GridColumn Field="@nameof(ProveedorModel.CodigoPostal)" HeaderText="Código Postal"></GridColumn>
                <GridColumn Field="@nameof(ProveedorModel.Telefono)" HeaderText="Teléfono"></GridColumn>
                <GridColumn Field="@nameof(ProveedorModel.Email)" HeaderText="Email"></GridColumn>
            </GridColumns>
            <SfSpinner @bind-Visible="@VisibleSpinner"></SfSpinner>
        </SfGrid>
    </div>
}

@code {
    private List<ProveedorModel>? ProveedorData = null;
    private SfGrid<ProveedorModel>? SfProveedorGrid { get; set; }

    private List<object> toolbar = new List<object> { "Add", "Edit", "Delete", "Update", "Cancel", "Search" };
    private bool VisibleSpinner { get; set; } = false;
    private Usuario? storedUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        VisibleSpinner = true;
        ProveedorData = await ProveedorService.GetProveedores();
        await Task.Delay(1000);
        var result = await LocalStorage.GetAsync<string>("user");
        await Task.Delay(500);
        var storedUserEmail = result.Success ? result.Value : null;
        if (storedUserEmail != null) storedUser = await UsuarioService.ReadUserbyEmail(storedUserEmail);
        VisibleSpinner = false;
    }

    public async void ActionBeginHandler(ActionEventArgs<ProveedorModel> args)
    {
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            if (args.Action == "Add")
            {
                await ProveedorService.AddProveedor(args.Data);
            }
            else if (args.Action == "Edit")
            {
                await ProveedorService.UpdateProveedor(args.Data);
            }
        }
        else if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            await ProveedorService.DeleteProveedor(args.Data.ProveedorId);
        }
    }
    public async void ActionCompleteHandler(ActionEventArgs<ProveedorModel> args)
    {
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            if (args.Action == "Add")
            {
                ProveedorData = await ProveedorService.GetProveedores();
                SfProveedorGrid?.Refresh();
            }

        }
    }
}
