@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@using Syncfusion.Blazor.Buttons
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Syncfusion.Blazor.Popups
@using TFG2022Server.Pages.Components
@inject ProtectedLocalStorage LocalStorage
@inject IUsuarioService UsuarioService



<PageTitle>TFG2022Server</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">




            <p><img src="" /> </p>
            @if (@storedUserEmail != null && @storedUser != null)
            {
                <SfButton @onclick="@(()=>NavigationManager.NavigateTo("/usermainpage"))">@storedUser.Nombre @storedUser.Apellidos</SfButton>
            }
            else
            {
                <SfButton @onclick="@(()=>NavigationManager.NavigateTo("/login"))">Conéctate</SfButton>
            }

            <MyCarritoView user="@storedUser"></MyCarritoView>


        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    string storedUserEmail = "";
    Usuario storedUser;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        var result = await LocalStorage.GetAsync<string>("user");
        await Task.Delay(500);
        storedUserEmail = result.Success ? result.Value : null;
        if (storedUserEmail != null) storedUser = await UsuarioService.ReadUserbyEmail(storedUserEmail);
    }
}